extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 Marnik Deimann

        
        p.lead.text-light
          | Full Stack JavaScript Developer.

       
        .portfolio-bio
          p
            | Besides studying Econometrics and Operations Research at Maastricht University I wanted to improve my knowledge on Web Development, so I started my Full Stack Javascript Techdegree at Treehouse.
            | Doing the courses and projects provided by Treehouse I definitly improve my knowledge on front-end and back-end Web Development.
            | I hope that my knowledge gained during my time with Treehouse will serve as a good basis for future work and projects I will be involved in.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul.skillslist
          li Javascript
          li HTML
          li CSS
          li Node.js
          li Express
          li Pug
          li NPM
          li Git

        h6 Info

        
        ul.contact-info
          li Someren, Netherlands
          li marnikdei@gmail.com

        
        a.button.expanded(href='https://github.com/marnikd') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  